.container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 50px;
  
}


.column {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 100%;

  
  @media (min-width: 576px) {
    &.s { flex: 4; max-width: 100%; } 
    &.m { flex: 1; max-width: calc(25% - 30px); } 
    &.l { flex: 3; max-width: calc(75% - 30px); } 
  
  }
}
.card {
  height: 650px;
}
.customLinkColor {
  padding: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

